.form-group{
  margin: 0 auto;
  border: 2px solid black;
}

.form-control {
  /* background-color: none im; */
  border: none !important;
  border-radius: 0 !important;
  border-bottom:2px solid black !important;
  background: rgba(0, 0, 0, 0.5);
}

.left-side {
  background-image: url("/static/images/background2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 100vw;
}


.btn{
  margin-left: 56%;
}

/* login page */
.login-background{
  background: url('/static/images/darren-nunis-cxE7SXKnzv0-unsplash.jpg') no-repeat center center fixed;
  background-size: cover;
}


.login-form{
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-40% -40%);
}

.log {
  opacity: .10;
}

.btn{
  margin-left:35%;
}

.test {
  background: red;
  width: 500px;
  height: 200px;
}