html {
	background: url('/static/images/singlesbg.jpg') no-repeat center fixed;
	background-size: cover;
	z-index: 1;
	position: relative;
}





  /* .matchtitle {
      margin-bottom: 200px;
  } */

  #carouselExampleIndicators {
      width: 50vw;
      height: 50vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 10%);
      margin-top: 200px;
  }

  #meetmatches {
      text-align: center;
      padding-bottom: 20px;
      color: brown;
      font-family: cursive;
  }



  /* img {
    border-radius: 70%;

  } */