:root {
  --dark-blue: #023948;
  --navy: #403563;
  --light-blue: #5158bb;
  --violet: #f26df9;
  --pink: #eb4898;

  /* fade colors */
  --violet-fade: rgba(242, 109, 249, .45);
  --pink-fade: rgba(235, 72, 152, .45);
  --light-blue-fade: rgba(173, 178, 247, 0.55);
}

.background {
  background: url('/static/images/background-image.jpg') no-repeat center fixed;
  background-size: cover;
  z-index: 1;
}

.profile {
  background: rgba(128, 128, 128, .55);
  /* z-index: 2; */
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.profile img {
  border: 2px solid black;
}

.about ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}

.about li {
  padding: 6px;
}

.profile h2 {
  font-size: 40px;
  font-family: Poppins;
}

.profile h4 {
  font-family: Poppins;
}

.profile p {
  font-size: 18px;
  font-family: Poppins;
  color: white;
}



