:root{
  --dark-blue: #023948;
  --navy: #403563;
  --light-blue: #5158bb;
  --violet: #f26df9;
  --pink: #eb4898;
  /* fade colors */
  --violet-fade: rgba(242, 109, 249, .45);
  --pink-fade: rgba(235, 72, 152, .45);
  --light-blue-fade: rgba(173, 178, 247, 0.55);
}

.nav-logo {
	padding: 5px;
}

.container {
  margin-left: 5px !important;
}

.background {
  background: url('/static/images/background-image.jpg') no-repeat center fixed;
  background-size: cover;
  z-index: 1;
  transform: translate(0,-100px);
  height: 1000vh
  transform: translate(0,-88px);
  min-height: 170vh;
}
​
​
.profile {
  background: rgba(128, 128, 128, .55);
  z-index: 2;
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  height: 1000vh
  min-height: 170vh;
}
​
.profile img {
  border: 2px solid black;
}
​
.about ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}
​
.about li {
  padding: 6px;
}
​
.profile h2 {
  font-size: 40px;
  font-family: Poppins;
  padding-top: 30vh;
}
​
.profile h4 {
  font-family: Poppins;
}
​
.profile p {
  font-size: 18px;
  font-family: Poppins;
  color: white;
}
​
​
#mobnav-btn {
  position: fixed;
  top: 120px;
  right: 40px;
  opacity: 1;
  color: #000;
  display: block;
  cursor: pointer;
  padding: 10px 9px;
  padding-bottom: 6px;
  font-size: 16px;
  border: 2px solid #DEDEDE;
  z-index: 999999999999;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  background-color: pink;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 70px;
}
​
​
​
#mobnav-btn-left {
  position: fixed;
  top: 50px;
  right: 40px;
  opacity: 1;
  color: #000;
  display: block;
  cursor: pointer;
  padding: 10px 9px;
  padding-bottom: 6px;
  font-size: 16px;
  border: 2px solid #DEDEDE;
  z-index: 999999999999;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  background-color: pink;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 70px;
}
​
.mobile-menu #mobnav-btn .mobnav-btn-label {
  display: block;
}
​
.mobile-menu-open #mobnav-btn {
  background-color: #232128;
  border-color: #232128;
}
​
.mobile-menu-open {
  left: 50%;
  overflow: hidden;
}
​
.mobile-menu-open #mobnav-btn .mobnav-icon {
  color: white;
}
