<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Okstupid</title>
</head>
<body>
  <header>
    <h1 class="logo"><a href="#">Okstupid</a></h1>

    <nav>
      <section>
        {% if user.is_authenticated %}
        Welcome, {{user.username}}
        <a href="#">logout</a>
        {% else %}
        <a href="#">Sign up</a>
        <a href="#">Login</a>
        {% endif%}
        <a href="/matches">Matches</a>
        <a href="/findsingles">Singles_list</a>
      </section>
    </nav>
  </header>

  {% block content %}
  {% endblock %}
</body>
</html>