<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Okstupid</title>
</head>
<body>
  <header>
    <h1 class="logo"><a href="#">Okstupid</a></h1>

    <nav>
      <section>
        <a href="{%url 'register'%}">Sign up</a>
        <a href="{% url 'login' %}">Login</a>
      </section>
    </nav>
  </header>

  {% block content %}
  {% endblock %}
</body>
</html>