{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/findsingles.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Poppins:400,800&display=swap" rel="stylesheet">
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="{% static 'js/main.js' %}"></script>  
  <title>Okstupid</title>
</head>
<body>
  <section class="container">
    <header>
      <nav class="navhead">
          <ul class="navbar">
        <h1 class="logo"><a href="{% url 'home'%}">OkStupid</a></h1>

          {% if user.is_authenticated %}
            <li class="item">
               <a href="{% url 'logout' %}">logout</a> 
            </li>
          {% else %}
             <li class="item">
               <a href="{% url 'register' %}">Sign up</a>
             </li>
             <li class="item">
               <a href="{% url 'login' %}">Login</a>
             </li>

          {% endif %}
        </ul>
      </nav>

    </header>
  </section>


  {% block content %}
  {% endblock %}
</body>
</html>