{% extends 'base.html' %}
{% load static %}
{% block content %}

<nav>
    <section>
      {% if user.is_authenticated %}
      Welcome, {{user.username}}
      <a href="/">logout</a>
      {% else %}
      <a href="/register">Sign up</a>
      <a href="/login">Login</a>
      {% endif%}
      <a href="/matches">Matches</a>
      <a href="profile/singles">Singles List</a>
    </section>
  </nav>

<main>
<ul>
  <h1>Check out these Stupids in your Area</h1>
  {% for profile in profiles%}
  <a href="">
    <li>
      <img src="/media/{{profile.photo_one}}" width="120" height="90" />      <p>{{profile.nickname}}</p>
      <p>{{profile.age}}</p>   
    </li>
  </a>
  {% endfor %}
  </ul>
</main>  
{% endblock %}
