{% extends 'base.html' %}
{% block content %}


<main>
  <h2 class="findsingles-title">Check out these Stupids in your Area</h2>
  {% for profile in profiles%}
  <section class="profile-list"> 
    <div class="image-area">
      <div class="img-wrapper">
          <img src="/media/{{profile.photo_one}}"/>
        <h2>
          <a href="{% url 'profile_show' pk=profile.pk %}" class="card-content"><p>{{profile.nickname}}</p></a>
          <p class="card-content">{{profile.location}}</p>
          <p class="card-content">{{profile.age}}</p> 
        </h2>   
        </div>
      </div>
  </section>  
  {% endfor %}
</main>  
{% endblock %}
