{% extends 'base.html' %}
{% load static %}
{% block content %}

<nav>
    <section>
      {% if user.is_authenticated %}
      Welcome, {{user.username}}
      <a href="/">logout</a>
      {#<a href="{% url 'matches' %}">Matches</a>#}
      <a href="/singles">Singles List</a>
      

      {% else %}
      <a href="/register">Sign up</a>
      <a href="/login">Login</a>
      {% endif%}
    </section>
  </nav>

<main>
<ul>
  <h1>Check out these Stupids in your Area</h1>
  {% for profile in profiles%}
  <a href="">
    <li>
      <a href="{% url 'profile_show' pk=profile.pk %}"><p>{{profile.nickname}}</p></a>
      <img src="/media/{{profile.photo_one}}" width="120" height="90"/>
      <p>{{profile.age}}</p>   
    </li>
  </a>
  {% endfor %}
  </ul>
</main>  
{% endblock %}
