{% extends 'base_home.html' %}
{% block content %}

<main>
  <section>
    <h2 class="our-mission">Our mission</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur et cumque dignissimos facere impedit ipsum perspiciatis praesentium, repudiandae suscipit repellendus distinctio itaque fugiat voluptatibus omnis? Ratione recusandae veritatis eum perferendis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur et cumque dignissimos facere impedit ipsum perspiciatis praesentium, repudiandae suscipit repellendus distinctio itaque fugiat voluptatibus omnis? Ratione recusandae veritatis eum perferendis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur et cumque dignissimos facere impedit ipsum perspiciatis praesentium, repudiandae suscipit repellendus distinctio itaque fugiat voluptatibus omnis? Ratione recusandae veritatis eum perferendis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur et cumque dignissimos facere impedit ipsum perspiciatis praesentium, repudiandae suscipit repellendus distinctio itaque fugiat voluptatibus omnis? Ratione recusandae veritatis eum perferendis.</p>
  </section>
</main>

{% endblock %}