{% extends 'base_home.html' %}
{% block content %}

<main class='home'>
  <section class="container">
    <div class="mission container2">
      <h2 class="our-mission">Our mission</h2>
      <p>A simple dating platform for our non-simple lifestyles.</p>
      <br>
      <ul>
        <li>If walking up to girls at a bar makes your head spin…</li>
        <li>If asking for his number makes your palms sweat…</li>
        <li>If your overworked and underpaid lifestyle has gotten in the way of your love life one to many times…</li>
      </ul>
      <br>
      <p>Let us make finding love a little more simple.</p>
    </div>
    
    <div class="buttons container2">
      <p><a class="button" href="{% url 'login' %}">Login</a></p>
      <br>
      <p><a class="button" href="{% url 'register' %}">Sign Up</a></p>
    </div>
  </section>
</main>

{% endblock %}