{% extends 'base.html' %}

{% block content %}
<main class="login-background form-layout">
  {% if error %}
    <p style="background-color:firebrick;">{{error}}</p>
  {% endif %}
  <div class="test">
  <section class="form-group login-form">
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <p>
        <label for="username">Username</label>
        <input class="log form-control form-control-lg" type="text" name="username" maxlength="25" minlength="2" required>
      </p>
      <p>
        <label for="password">Password</label>
        <input class="log form-control form-control-lg" type="password" name="password" maxlength="25" minlength="4" required>
      </p>
      <button class="btn btn-danger" type="submit">Login</button>
    </form>
  </section>
</div>
</main>
{% endblock %}