{% extends 'base.html' %}

{% block content %}

{% if request.user != profile.user_id %}
    {% if pair is None %}
    <a id="likebutton" href="{% url 'match_handle' pk=profile.id %}">
    <div id="mobnav-btn-left">
        <div class="mobnav-icon">
            ❤️️
        </div>
    </div>
    </a>
    <div id="mobnav-btn">
        <div class="mobnav-icon">
            No
        </div>
    </div>
    {% elif pair.confirmed == False and pair.profile_id_connect == request.user %}
    <a id="likebutton" href="{% url 'match_handle' pk=profile.id %}">
        <div id="mobnav-btn-left">
            <div class="mobnav-icon">
                ❤️️
            </div>
        </div>
    </a>
    <a id="passbutton" href="{% url 'pass_handle' pk=profile.id %}">
      <div id="mobnav-btn">
          <div class="mobnav-icon">
              No
          </div>
      </div>
    </a>
    {% elif pair.confirmed == False and pair.profile_id_init == request.user %}
    <p>you've likeed this person.</p>
    {% else %}
    <p>your've liked this person.</p>
    {% endif %}
{% endif %}

<section class="background">
  
<main class="profile">

  <h2>{{ profile.nickname }} {{ profile.age }}</h2>



  <div class="photos">
      <img width="device-width" src="/media/{{profile.photo_one}}" width="450" height="420"/>
  </div>
<br>
  <div class="prompts">
    <h4>Where is your ideal first date?</h4>
    <p>{{ profile.prompt_one }}</p>
  </div>
<br>
  <div class="photos">
    <img width = "device-width" src="/media/{{profile.photo_two}}" width="450" height="420"/>
  </div>
<br>
  <div class="about">
      <ul>
        <li> Height: {{ profile.height }}</li>
        <li> Location: {{ profile.location }}</li>
        <li> Job Title: {{ profile.job_title }}</li>
        <li> Education: {{ profile.education }}</li>
        <li> Hometown: {{ profile.hometown }}</li>
        {% if profile.drinker %}
        <li>I am a drinker.</li>
        {% endif %}
        {% if profile.smoker %}
        <li>I am a Smoker.</li>
        {% endif %}
      </ul>
  </div>
<br>
  <div class="prompts">
    <h4>My friends would say I’m…</h4>
    <p>{{ profile.prompt_two }}</p>
  </div>
<br>
  <div class="photos">
      <img width = "device-width" src="/media/{{profile.photo_three}}" width="450" height="420"/>
  </div>
<br>
  <div class="prompts">
    <h4>If money didn’t matter, my dream job would be…</h4>
    <p>{{ profile.prompt_three }}</p>
  </div>
<br>
  <div class="action">
{% if request.user != profile.user_id %}

    {% if pair.profile_id_init == request.user or pair.profile_id_connect == request.user %}
    <p>Your've liked this person.</p>
    {% endif %}
{% endif %}
</div>

</main>
</section>



<footer class="footer">
    <div>
      <span>&copy; 2019 OkStupid</span>
        <ul class="social-icons">
          <li><a href="https://www.instagram.com/livingindiatv/"><img src="/static/images/instagram.png" alt="instagram" width="30" height="30"><span></span></a></li>
          <li><a href="https://in.pinterest.com/livingindiatv/"><img src="/static/images/pintrest.png" alt="pinterest" width="30" height="30"><span></span></a></li>
          <li><a href="https://youtube.com"><img src="/static/images/youtube.png" alt="youtube" width="30" height="30"><span></span></a></li>
          <li><a href="https://twitter.com/livingindiatv"><img src="/static/images/twitter.png" alt="twitter" width="30" height="30"><span></span></a></li>
          <li><a href="https://www.facebook.com/livingindiatv/"><img src="/static/images/facebook.png" alt="facebook" width="30" height="30"><span></span></a></li>
         </ul>
    </div>
</footer>



{% endblock %}
