{% extends 'base.html' %}

{% block content %}

<section class="form-section">

    <h1>My Profile</h1>
    <p>Welcome back, {{ profile.nickname }}</p>
    {% if profile.user_id.id == user.id %}
    <a href="{}">logout</a>
    <a href="/findsingles">Find Singles</a>
    <a href="/matches">Matches</a>
    <!-- {{ profile.user_id.username }} -->
  
    <ul>
      <li> Gender: {{ profile.gender}}</li>
      <li> Location: {{ profile.location}}</li>
      <li> Job Title: {{ profile.job_title}}</li>
      <li> Education: {{ profile.education}}</li>
      <li> Hometown: {{ profile.hometown}}</li>
    </ul>

    {% else %}
    <p> you are not Authorized.</p>
    {% endif %}
  </section>

{% endblock %}
