{% extends 'base.html' %}

{% block content %}

<section class="form-section">
    Welcome, {{ profile.nickname }}
    <h1>Profile</h1>
    <ul>
      <h2>{{ profile.nickname }}</h2>
      <li> Gender: {{ profile.gender}}</li>
      <li> Location: {{ profile.location}}</li>
      <li> Job Title: {{ profile.job_title}}</li>
      <li> Education: {{ profile.education}}</li>
      <li> Hometown: {{ profile.hometown}}</li>
    </ul>
</section>
<div class="action">
{% if request.user != profile.user_id %}
    {% if pair is None %}
    <a id="likebutton" href="{% url 'match_handle' pk=profile.id %}">LIKE</a>
    {% elif pair.confirmed == False and pair.profile_id_connect == request.user %}
    <a id="likebutton" href="{% url 'match_handle' pk=profile.id %}">LIKE2</a>
    {% elif pair.confirmed == False and pair.profile_id_init == request.user %}
    <p>you've like this person.</p>
    {% endif %}
{% endif %}
</div>

{% endblock %}
